.header {
    background-color: #E6E6E6;
    padding: 36px 0 37px;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 139px;
        height: 47px;
    }
    &__menu{
        display: flex;
        list-style: none;
    }
    &__menu-item + &__menu-item{
        margin-left: 30px;
    }
    &__menu-link{
        font-family: $secomdary-font;
        color: #4e4e4e;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
}